@import 'vars';
@import 'global';
@import 'fonts';


.header{
  background-color: #eef1f3;
  color: #fff;
  &__inner{
    display: flex;
    justify-content: space-between;
    min-height: 97px;
    align-items: center;
  }
  &__logo{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    padding-left: 53px;
    margin-left: 7px;
    span{
      color: $blue;
    }
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -10px;
      height: 50px;
      width: 50px;
      background-image: url('../images/header-logo.png');
    }
  }
  &__profile{
    display: flex;
  }
  &__inner-btn{
    background-color: $blue;
    border-radius: 55px;
    padding: 12px 18px;
    margin-right: 37px;
    transition: all .4s;
  }
  &__inner-btn:hover{
    background-color: #fff;
    color: $blue;
    cursor: pointer;
  }
}

.header__bottom{
  background-color: #fff;
}
.header__bottom-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  text-transform: uppercase;
}
.header__bottom-nav{
  z-index: 2;
  li{
    display: inline-block;
    a{
      @include f500;
      font-size: 15px;
      color: #333333;
      padding: 11px;
    }
  }
}
.header__bottom-search{
  display: flex;
  align-items: center;
  max-width: 360px;
  width: 100%;
  height: 46px;
  padding: 0 23px;
  border: 1px solid #d9dfe5;
  border-radius: 40px;
  position: relative;
  button{
    position: absolute;
    background-color: $blue;
    border: none;
    height: 18px;
    width: 70px;
    border-radius: 40px;
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 22px 0;
    right: 0;
  }
}
.header__bottom-input{
  border: none;
}

.header__profile{
  display: flex;
  align-items: center;
  transition: all .5s;
}
.header__icons{
  position: relative;
  margin-left: 26px;
  &::before{
    font-size: 20px;
    color: #7e8fa1;
  }
  span{
    position: absolute;
    top: -11px;
    right: -11px;
    border-radius: 50%;
    color: #fff;
    padding: 2px 6px;
    background-color: #ff6a6c;
  }
}

.header__massage{
  span{
    background-color: #62d03b;
  }
}
.header__basket{
  span{
    background-color: #0674ec;
  }
}
.user{
  margin-left: 35px;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  &__info{
    margin-left: 15px;
    min-width: 105px;
  }
  &__name{
    color: #333333;
  }
  &__money{
    @include f500;
    color: $blue;
    margin-top: 10px;
  }
}

.products-slide{
  background-color: $blue;
  color: #fff;
  padding-top: 175px;
  padding-bottom: 235px;
  text-align: center;
  position: relative;
  &__title{
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
  }
  &__text{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    span{
      display: block;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
.products-slide__btn{
  margin-top: 68px;
  a{
    color: #fff;
  }
  &1{
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 40px;
    transition: all .4s;
  }
  &1:hover{
    background-color: #fff;
    color: $blue;
    cursor: pointer;
  }
  .btn2{
    margin-left: 30px;
  }
}

.search__product{
  position: relative;
  display: flex;
  justify-content: center;
  top: -70px;
  select{
    position: absolute;
    right: 13px;
    border: 1px solid #d9dfe5;
    padding: 17px 25px 20px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0;
    font-size: 400;
    outline: none;
  }
}
.block1{
  position: absolute;
  top: -26px;
  max-width: 1080px;
  width: 100%;
  height: 135px;
  background-color: #fff;
  opacity: 0.6;
  z-index: 1;
  border-radius: 5px;
}
.block2{
  position: absolute;
  top: -13px;
  max-width: 1110px;
  width: 100%;
  height: 135px;
  background-color: #fff;
  z-index: 2;
  opacity: 0.8;
  border-radius: 5px;
}
.block3{
  position: absolute;
  max-width: 1140px;
  width: 100%;
  height: 135px;
  background-color: #fff;
  z-index: 3;
  opacity: 1;
  display: flex;
  align-items: center;
  border-radius: 5px;
  button{
    position: absolute;
    right: 40px;
    top: 40px;
    outline: none;
    border: none;
    background-color: $blue;
    border-radius: 5px;
    padding: 20px 60px;
    color: #fff;
  }
}
.block3-inner{
  position: absolute;
  max-width: 655px;
  height: 55px;
  display: flex;
  width: 100%;
  align-items: center;
  .jq-selectbox.jqselect.category{
    position: absolute;
    right: 40px;
    padding-right: 20px;
    .opened{
      position: relative;
    }
    .jq-selectbox__dropdown{
      height: auto;
      top: auto;
      position: absolute;
      bottom: 0;
    }
    .jq-selectbox__trigger{
      &::before{
        font-family: 'Linearicons-Free';
        content: "\e874";
        position: absolute;
        font-size: 12px;
        top: 6px;
        right: -20px;
      }
    }
    .jq-selectbox__dropdown{
      width: 100%; 
      ul{
        width: 100%;
        background-color: #ccc;
        padding: 15px;
        min-height: 60px;
        overflow: hidden;
        overflow-x: hidden;
        li{
          padding-bottom: 10px;
          border-bottom: 1px solid #000;
        }
        li + li{
          padding-top: 10px;
        }
      }
    } 
  }
}
.input__btn{
  position: relative;
  left: 40px;
  top: 0;
  min-width: 615px;
  border: 1px solid #d9dfe5;
  padding: 20px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.advantages{
  padding-bottom: 120px;
}
.advantages__inner{
  display: flex;
  margin-top: 200px;
  justify-content: center;
}
.advantages__item{
  width: 360px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  &-2{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
.advantages__item-title{
  font-size: 24px;
  color: #010101;
  margin-bottom: 25px;
}
.advantages__item-text{
  line-height: 30px;
  width: 270px;
  margin: 0 auto;
}
.product-slider{
  padding: 120px 0;
  background-color: $bg;
}
.product-slider__inner{
  position: relative;
  .slick-btn.slick-next.slick-arrow{
    border: none;
    position: absolute;
    top: -135px;
    right: 10px;
    background-color: #7347c1;
    padding: 22px 35px 22px 20px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    outline: none;
    color: #fff;
  }
  .slick-btn.slick-prev{
    border: none;
    position: absolute;
    background-color: #7347c1;
    top: -135px;
    right: 80px;
    padding: 22px 20px 22px 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    outline: none;
    color: #fff;
  }
}
.product-slider__title{
  height: 110px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 5px;
  span{
    padding: 0 30px;
    font-size: 30px;
    color: #000;
  }
}

.product-slider__item{
  display: flex;
  background-color: #fff;
}
.absolute{
  display: inline-block;
  position: relative;
  max-width: 525px;
  width: 100%;
  height: 453px;
}
.slider__info{
  position: absolute;
  right: 0;
  top: 30px;
}
.slider__item-img{
  display: inline-block;
}
.slider__info-inner{
  max-width: 480px;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec;
}
.slider__info-title{
  @include f500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 18px;
}
.user-and-thema{
  display: flex;
  align-items: center;
}
.slider__info-user{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
  margin-right: 25px;
}
.slider-user__photo{
  margin-right: 10px;
}
.slider__info-thema{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #7347c1;
}
.slider-thema__icon{
  margin-right: 10px;
}
.slider__info-text{
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 30px;
}
.slider__info-category{
  display: inline-block;
  padding: 7px 18px;
  background-color: #f1f3f6;
  border-radius: 18px;
  & + .slider__info-category{
    margin-left: 7px;
  }
}
.slider__info-bottom{
  display: flex;
  padding-top: 15px;
  align-items: center;
}
.slider-bottom__price{
  padding: 8px 16px;
  background-color: $blue;
  color: #fff;
  border-radius: 16px;
}
.slider-bottom-likes{
  padding-left: 25px;
  margin-left: 15px;
}
.slider-bottom__sales{
  padding-left: 25px;
  margin-left: 15px;
  color: $blue;
  font-size: 15px;
}
.lnr-heart::before{
  color: #7347c1;
}
.slider-bottom__rate{
  position: absolute;
  right: 0;
}

.slider__info-inner{
  position: relative;
}

.product{
  background-color: #f6f7fb;
  padding-bottom: 120px;
}
.product__top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  align-items: center;
  padding: 0 30px;
  height: 110px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
}
.product__title{
  font-size: 30px;
  color: #000;
}
.product__btn{
  padding-right: 25px;
}
.product__filter{
  display: flex;
  justify-content: start;
  background-color: #fff;
  height: 93px;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  button{
    padding: 0 18px;
    height: 32px;
    background-color: #f1f3f6;
    color: $text;
    border: none;
    border-radius: 22px;
    transition: all .3s;
    & + button{
      margin-left: 10px;
    }
    &:hover{
      background-color: $blue;
      color: #fff;
    }
  }
}
.product__items{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -28px;
  margin-top: 50px;
}
.product__item{
  flex-basis: calc(33.3333% - 28px);
  min-height: 530px;
  margin-left: 28px;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.product__item-img{
  width: 100%;
  position: relative;
  &:hover .product__item-preview{
    opacity: 1;
  }
  img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.product__item-preview{
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .3s;
  a{
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 16px 34px;
    border-radius: 28px;
    transition: all .3s;
    & + a{
      margin-left: 10px;
    }
    &:hover{
      background-color: #fff;
      color: $blue;
    }
  }
}
.product__item-content{
  padding: 30px;
}
.product__item-title{
  margin-bottom: 20px;
  @include f500;
  color: #000;
  font-size: 20px;
}
.product__item-line{
  display: flex;
  align-items: center;
  color: $purple;
  font-size: 15px;
  margin-bottom: 30px;
  a{
    margin-right: 17px;
  }
  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
  }
}
.product__item-description{
  margin-bottom: 5px;
}
.product__item-bottom{
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 1px solid #ececec;
  padding: 0 30px;
  background-color: #fff;
  position: relative;
}
.product__item-price{
  color: $blue;
  @include f500;
  font-size: 15px;
  padding: 8px 20px;
  background-color: #e6f1fd;
  border-radius: 22px;
}
.product__item-likes{
  margin-left: 13px;
  &::before{
    font-size: 15px;
    margin-right: 9px;
  }
}
.product__item-sales{
  color: $blue;
  font-size: 15px;
  position: absolute;
  right: 30px;
  &::before{
    font-size: 15px;
    color: $blue;
    margin-right: 9px;
  }
}
.product__item-btn__all{
  text-align: center;
  button{
    padding: 20px 33px;
    background-color: $blue;
    color: #fff;
    border-radius: 27px;
    text-align: center;
    border: none;
  }

}
.jq-ry-normal-group.jq-ry-group{
  svg{
    fill: #8f8f8f;
  }

}
.jq-ry-rated-group.jq-ry-group{
  svg{
    fill: #ffc000;
  }
}
.followers{
  background-color: #e6f1fd;
  padding:120px 0;
  &__inner{
    .slick-btn{
      border: none;
      position: absolute;
      right: 95px;
      top: -115px;
      background-color: transparent;
      &.slick-next{
        right: 45px;
      }
      &::before{
        color: #fff;
      }
    }
  }
  &__btn{
    width: 110px;
    height: 45px;
    border-radius: 45px;
    background-color: $blue;
  }
}
.followers__top{
  font-size: 30px;
  color: #000;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  height: 110px;
}
.followers__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  .product__item{
    max-width: 360px;
    min-height: 530px;
    margin-left: 0;
    width: 100%;
  }
}
.statistics{
  padding: 95px 0;
  background-color: #212225;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    text-align: center;
    &-num{
      font-size: 36px;
      margin-bottom: 15px;
      padding-top: 95px;
      position: relative;
      &::before{
        font-size: 48px;
	      font-family: 'Linearicons-Free';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
    &-text{
      font-size: 18px;
      color: #fff;
    }
  }
}
.statistics__num-1{
  color: #feb71d;
  &::before{
    content: "\e84c";
  }
}
.statistics__num-2{
  color: #58c9e9;
  &::before{
    content: "\e80b";
  }
}
.statistics__num-3{
  color: #77de51;
  &::before{
    content: "\e854";
  }
}
.statistics__num-4{
  color: #ff6a6d;
  &::before{
    content: "\e82b";
  }
}
.excellence{
  padding: 120px 0;
}
.excellence__top,
.feedback__top,
.news__top{
  margin-bottom: 60px;
  text-align: center;
}
.excellence__title,
.feedback__title,
.news__title{
  color: #000;
  font-size: 36px;
  margin-bottom: 20px;
  span{
    color: $blue;
    margin-left: 7px;
  }
}
.excellence__text,
.feedback__text,
.news__text{
  max-width: 685px;
  margin: 0 auto;
}
.excellence__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.excellence__item{
  max-width: 365px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
.excellence__item-num{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 48px;
  line-height: 48px;
  color: #e8e8e8;
  font-family: 'Quicksand';
  font-weight: 300;
}
.excellence__item-title{
  padding-top: 100px;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #000;
  position: relative;
  &1{
    &::before{
      color: #0674ec;
	    content: "\e822";
    }
  }
  &2{
    &::before{
      color: #7f4ec2;
      content: "\e803";
    }
  }
  &3{
    &::before{
      color: #77de51;
      content: "\e80f";
    }
  }
  &4{
    &::before{
      color: #feb71d;
    	content: "\e843";
    }
  }
  &5{
    &::before{
      color: #58c9e9;
    	content: "\e849";
    }
  }
  &6{
    &::before{
      color: #ff6a6d;
    	content: "\e831";
    }
  }
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 60px;
    font-family: 'Linearicons-Free';
  }
}  
.excellence__item-text{
  font-size: 16px;
  max-width: 285px;
  width: 100%;
  padding-bottom: 35px;
  margin: 0 auto;
}
.login__inner{
  display: flex;
  justify-content: center;
}
.login__item{
  max-width: 960px;
  min-height: 564px;
  padding: 100px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../images/login-bg-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  & + .login__item{
    background-image: url(../images/login-right.png);
  }
  &-title{
    font-size: 36px;
    padding-top: 150px;
    margin-bottom: 30px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 40%;
      right: 50%;
      background-image: url(../images/Icon.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 120px;
      height: 101px;
    }
  }
  .login__item-title2::before{
    background-image: url(../images/Icon2.png);
    width: 100px;
    height: 100px;
  }
  &-text{
    width: 543px;
    margin: 0 auto 50px;
  }
  &-btn{
    width: 190px;
    text-align: center;
    padding: 22px 0;
    color: $blue;
    border: none;
    background-color: #fff;
    border-radius: 30px
  }
}
.feedback{
  padding-bottom: 120px;
}
.feedback__top{
  margin-top: 120px;
}
.feedback__inner{
  display: flex;
  justify-content: space-between;
}
.feedback__item{
  max-width: 555px;
  width: 100%;
  padding: 50px 40px;
  border-left: 2px solid $blue;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}
.feedback__item-author{
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  position: relative;
  &::before{
	  font-family: 'Linearicons-Free';
    content: "\e83f";
    position: absolute;
    font-size: 60px;
    color: #e8e8e8;
    right: 0;
  }
  img{
    margin-right: 18px;
  }
}
.feedback__author-name{
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.feedback__btn{
  padding: 20px 33px;
  background-color: $blue;
  color: #fff;
  border-radius: 27px;
  border: none;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
}
.news{
  padding: 120px 0;
  background-color: $bg;
}
.news__inner{
  display: flex;
  justify-content: flex-start;
  margin-left: -30px;
  flex-wrap: wrap;
}
.news__item{
  flex-basis: calc(33.3333% - 30px);
  background-color: #fff;
  margin-left: 29px;
  margin-bottom: 30px;
  img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.news__item-content{  
  padding: 30px;
  border-bottom: 1px solid #ececec; 
}
.news__item-title{
  font-size: 22px;
  color: #000;
  @include f500;
  margin-bottom: 30px;
}
.news__item-bottom{
  display: flex;
  justify-content: space-between;
}
.news__item-date{
  border-right: 1px solid #ececec;
  width: 180px;
  padding: 22px 0;
  text-align: center;
  position: relative;
  &::before{
	  font-family: 'Linearicons-Free';
    content: "\e864";
    color: $blue;
    font-size: 15px;
    position: absolute;
    left: 28px;
  }
}
.news__item-bottom__right{
  width: 180px;
  padding: 22px 0;
  display: flex;
}
.bottom__right-items{
  margin-left: 30px;
  padding-left: 22px;
  position: relative;
  &::before{
    position: absolute;
    left: 0;
    font-family: 'Linearicons-Free';
	  content: "\e83f";
  }
}
.bottom__right-items:nth-child(2){
  &::before{
  	content: "\e81b";
  }
}
.support{
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}
.support__item{
  text-align: center;
  width: 571px;
  padding: 55px 0;
  & + .support__item{
    border-left: 1px solid #ececec;
  }
}
.support__item-title{
  color: #000;
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 20px;
  span{
    color: $blue;
    margin-left: 7px;
  }
}
.join{
  padding: 110px 0;
  background-image: url(../images/join-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 400px;
  color: #fff;
  &__title{
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 18px;
    margin-bottom: 50px;
  }
  &__btn{
    padding: 20px 50px;
    background-color: #fff;
    color: $blue;
    border-radius: 26px;
  }
}
.footer{
  padding-top: 130px;
  background-color: #262b30;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__col-first{
  max-width: 245px;
  width: 100%;
}
.footer__col-mid{
  max-width: 140px;
  width: 100%;
}
.footer__col-last{
  max-width: 365px;
  width: 100%;
}
.footer__col-title{
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
}
.footer__col-text{
  color: #ababab;
  font-size: 15px;
  margin-bottom: 30px;
}
.footer__col{
  li{
    margin-bottom: 20px;
  }
  a{
    color: #ababab;
    font-size: 15px;
  }
}
.footer__col-line{
  a{
    &::before{
      font-family: 'Linearicons-Free';
      margin-right: 10px;
    }
  }
  .lnr-map-marker{
    line-height: 25px;
  }
}
.footer__logo.header__logo{
  margin-bottom: 35px;
  color: #fff;
  font-size: 24px;
  &::before{
    background-image: url(../images/footerlogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}


.footer__copy{
  padding: 40px 0;
  background-color: #192027;
  color: #999999;
  text-align: center;
  span{
    color: #fff;
  }
}
.footer__col-email{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 34px;
  height: 50px;
  input{
    border: none;
    position: absolute;
  }
  button{
    position: absolute;
    right: 0;
    border: none;
    background-color: $blue;
    color: #fff;
    padding: 16px 30px;
    border-radius: 34px;
  }
}
.header__bottom-nav__btn{
  margin-left: 5px;
  display: none;
  min-width: 35px;
  margin-right: 10px;
  div{
    height: 5px;
    background-color: #555;
    width: 100%;
    & + div{
      margin-top: 5px;
    }
  }
}
.header__inner-btn--off{
  display: none;
}
.header__profile-btn{
  display: none;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: $text;
  z-index: 2;
  padding-top: 9px;
  &::before{
    font-size: 35px;
  }
}
.header__profile.active{
  left: 0;
  width: 100%;
}
.new-items__filters{
  width: 265px;
  margin-right: 28px;
}
.search{
  text-align: center;
  background-image: url(../images/new-items-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 85px;
  padding-bottom: 35px;
}
.search__title{
  font-size: 26px;
  color: #fff;
  margin-bottom: 35px;
  span{
    @include f500;
  }
}
.search__btn{
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
  margin: 0 auto;
  border-radius: 28px;
  padding-left: 30px;
  input{
    color: $text;
    border: none;
  }
  button{
    border: none;
    background-color: $blue;
    height: 100%;
    right: 0;
    position: absolute;
    border-radius: 28px;
    padding: 0 25px;
    color: #fff; 
  }
}
.breadcrumbs{
  margin-top: 35px;
  a{
    color: #fff;
  }
}
.breadcrumbs__list-item{
  display: inline-block;
  color: #fff;
  padding-right: 12px;
  position: relative;
  &::after{
    content: "/";
    position: absolute;
    right: 0;
    color: #fff;
  }
  &:last-child{
    color: #bfcad7;
  }
  &:last-child::after{
    display: none;
  }
}
.new-items{
  padding-bottom: 220px;
  background-color: $bg;
}
.new-items__top{
  padding: 45px 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.new-items__wrapper{
  display: flex;
  justify-content: space-between;
}
.top-category__item{
  margin-left: 40px;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  display: inline-block;
  span{
    @include f500;
  }
}
.new-items__top-select.select-new__items{
  max-width: 600px;
  width: 100%;
  display: flex;
  .jq-selectbox__select-text{
    width: 100%;
    padding: 11px 29px 11px 19px;
    border: 1px solid #edf0f3;
  }
  .jq-selectbox__select-text{
    width: 100%;
  }
  .jq-selectbox__select{
    margin-right: 30px;
    position: relative;
  }
  .jq-selectbox__trigger{
    &::before{
      font-family: 'Linearicons-Free';
      content: "\e874";
      position: absolute;
      font-size: 10px;
      top: 15px;
      right: 10px;
    }
  }
  .jq-selectbox__dropdown{
    width: 100%; 
    ul{
      width: 100%;
      background-color: #ccc;
      padding: 15px;
      min-height: 60px;
      overflow: hidden;
      overflow-x: hidden;
      li{
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
      }
      li + li{
        padding-top: 10px;
      }
    }
  }  
}
.top-select__buttons{
  width: 94px;
  height: 42px;
  display: flex;
  padding: 11px 20px;
  align-items: center;
  border: 1px solid #edf0f3;
}
.top-select__btn{
  margin-right: 15px;
  path{
    fill: #adb1b8;
  }
}
.new-items__content{
  margin-top: 80px;
}
.aside__item{
  width: 100%;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
  .aside__item-btn{
    padding: 15px 32px;
    border: none;
    background-color: $blue;
    border-radius: 25px;
    color: #fff;
    @include f500;
    margin-top: 75px;
    margin-left: 17px;
  }
}
.aside__item-line.arrow-right{
  cursor: pointer;
  button{
    cursor: pointer;
    border: none;
    color: #555555;
    background-color: transparent;
    outline: none;
  }
}
.mixitup-control-active{
  color: $blue !important;
}
.aside__item-title{
  border: none;
  border-bottom: 1px solid #e7ebee;
  padding-bottom: 25px;
  width: 100%;
  color: #000;
  font-size: 20px;
  position: relative;
  .jq-selectbox__trigger{
    &::before{
      font-family: 'Linearicons-Free';
      content: "\e874";
      position: absolute;
      font-size: 12px;
      top: 6px;
      right: 0;
    }
  }
  .jq-selectbox__dropdown{
    width: 100%; 
    ul{
      width: 100%;
      background-color: #ccc;
      padding: 15px;
      min-height: 60px;
      overflow: hidden;
      overflow-x: hidden;
      li{
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
      }
      li + li{
        padding-top: 10px;
      }
    }
  }  
}
.aside__item-content{
  margin-top: 20px;
}
.aside__item-line{
  padding: 10px 20px;
  position: relative;
  span{
    position: absolute;
    right: 0;
    color: #747b86
  }
  .jq-radio{
    position: absolute;
    left: -5px;
    top: 10px;
  }
}
.arrow-right{
  position: relative;
  &::before{
    content: "\e876";
	  font-family: 'Linearicons-Free';
    position: absolute;
    left: 0;
    font-size: 10px;
    top: 13px;
  }
}
.aside__item-line{
  input[type=radio]{
    margin-left: -10px;
  }
}
.irs-from, .irs-single, .irs-to {
  top: 60px;
}
.irs--round .irs-from:before, .irs--round .irs-single:before, .irs--round .irs-to:before{
  border: none;
}
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to{
  padding: 9px 28px;
  border-radius: 20px;
  background-color: #f1ecf9;
  color: $purple;
}
.irs--round .irs-line{
  height: 5px;
}
.irs--round .irs-bar{
  background-color: $purple;
}
.irs--round .irs-handle{
  width: 18px;
  height: 18px;
  top: 29px;
}
.new-items__inner{
  display: flex;
}
.product-items{
  display: flex;
  justify-content: start;
  max-width: 880px;
  width: 100%;
  margin-left: -28px;
  height: 100%;
  flex-wrap: wrap;
  .product__item{
    flex-basis: calc(33.3333% - 28px);
    margin-left: 28px;
    max-width: 262px;
    min-height: 370px;
    transition: all .4s;
    .product__item-likes{
      display: none;
    }
    .product__item-comments{
      display: none;
    }
    &-description{
      display: none;
    }
    &-img{
      overflow: hidden;
    }
    &-content{
      padding: 20px;
      padding-bottom: 0;
    }
    &-rate{
      display: flex;
      justify-content: space-between;
      position: relative;
      height: auto;
      padding-bottom: 15px;
      border-top: none;
      border-bottom: 1px solid #ececec;
      margin-left: 20px;
    }
    &-sales{
      position: absolute;
      right: 20px;
    }
    &-bottom{
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      .product__item-sales--none{
        display: none;
      }
    }
    &-theme--list{
      display: none;
    }
    &-line--list{
      display: none;
    }
    &-theme__name{
      display: inline-block;
    }
  }
}
.pagination{
  margin-top: 60px;
  float: right;
  margin-bottom: 110px;
}
.pagination__list-item{
  display: inline-block;
  background-color: #fff;
  border-radius: 22px;
  width: 50px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  &:first-child::before{
	  content: "\e879";
    font-family: 'Linearicons-Free';
    color: #000;
  }
  &:last-child{
    background-color: $purple;
    &:before{
      content: "\e87a";
      font-family: 'Linearicons-Free';
      color: #fff;
    }
  }
  &.active{
    background-color: $blue;
    color: #fff;
    a{
      color: #fff;
    }
  }
}

.product-items .product__item--list{
  flex-basis: 100%;
  max-width: 847px;
  min-height: 210px;
  display: flex;
  .product__item-likes{
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
    span{
      margin-right: 5px;
    }
    &::before{
    	font-family: 'Linearicons-Free';
      content: "\e813";
      color: $purple;
      margin-right: 5px;
    }
  }
  .product__item-comments{
    display: block;
    margin-bottom: 15px;
    span{
      margin-right: 5px;
    }
    &::before{
    	font-family: 'Linearicons-Free';
      content: "\e83f";
      color: $purple;
      margin-right: 5px;
    }
  }
  .rateYo span{
    display: block;
    color: $text;
  }
  .product__item-rate{
    display: block;
    border: none;
    padding-right: 40px;
    border-right: 1px solid #ececec;
  }
  .product__item-wrapper{
    display: flex;
    width: 100%;
    padding: 25px;
  }
  .product__item-sales--none{
    display: none;
  }
  .product__item-content{
    max-width: 230px;
    padding: 0;
    padding-right: 25px;
    border-right: 1px solid #ececec;
  }
  .product__item-img{
    max-width: 230px;
  }
  .product__item-description{
    display: block;
  }
  .product__item-theme{
    display: none;
  }
  .product__item-theme--list{
    display: block;
    margin-top: 25px;
  }
  .on.product__item-line--list{
    display: block;
    margin-bottom: 25px;
    a{
      transform: translateY(-7px);
    }
  }
  .product__item-line{
    display: none;
  }
  .product__item-bottom{
    border: none;
    height: 100%;
    display: block;
    text-align: center;
    .product__item-price{
      margin-top: 45px;
      padding: 8px 10px;
    }
    .product__item-sales--none{
      display: block;
      bottom: 60px;
    }
  }
}
.product-one__breadcrumbs{
  margin-top: 0;
}
.product-one__top{
  background-image: url(../images/product-one-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}
.product-one__title{
  font-size: 30px;
  color: #fff;
  margin-top: 25px;
}
.product-one{
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: $bg;
}
.product-one__inner{
  display: flex;
}
.product-one__items{
  max-width: 750px;
  width: 100%;
  margin-right: 30px;
}
.product-one__item{
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
}
.product-one__item-img{
  max-width: 100%;
  max-height: 430px;
  overflow: hidden;
}
.product-one__item-content{
  padding: 30px;
}
.product-one__item-buttons{
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}
.product-one__item-preview{
  border: none;
  @include f500;
  color: #fff;
  background-color: $blue;
  max-width: 190px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-radius: 28px;
  margin-right: 30px;
}
.product-one__item-favorites{
  position: relative;
  background-color: #fff;
  max-width: 202px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-radius: 28px;
  border: none;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  @include f500;
  color: $purple;
  padding-left: 18px;  
  &::before{
    position: absolute;
    left: 24px;
    content: "\e813";
    font-family: 'Linearicons-Free';
  }
}
.product-one__item-share{
  color: #000;
  margin-right: 100px;
  background-color: #fff;
  max-width: 202px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-radius: 28px;
  border: none;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  @include f500;
  color: #000;
  padding-left: 18px;
  position: relative;
  &::after{
    width: 22px;
    height: 23px;
    content: "";
    position: absolute;
    top: 17px;
    left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/content/share-icon.png);
  }
}

.product-one__item-social{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  li + li{
    margin-left: 13px;
  }
  .product-one__item-icon{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $blue;
  }
}

.tab-box {
  margin-top: 30px;
  max-width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.tabs__button {
  padding: 30px;
  border: none;
  background: none;
  color: #000;
  font-size: 17px;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  &:last-child{
    padding-left: 34px;
    padding-right: 50px;
  }
  & + .tabs__button{
    border-left: 1px solid #e8e8e8;
  }
  &--active {
    border-bottom: none;
    border-top: 3px solid $blue;
    color: $blue;
  }
}

.tab-content {
  display: none;
  padding: 20px;
  border-top: none;
  &--active {
    display: block;
    animation-name: tabsAnim;
    animation-duration: 1s;
  }
}


@keyframes tabsAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tab-content {
  background-color: #fff;
  padding: 80px 30px;
}
.tab-content__item + .tab-content__item{
  margin-top: 70px;
}
.tab-content__title{
  font-size: 28px;
  margin-bottom: 40px;
}
.tab-content__text{
  font-size: 16px;
  line-height: 30px;
}
.tab-content__list li{
  font-size: 16px;
  line-height: 32px;
}
.tab-content__list-ordered li{
  span{
    color: #000;
    font-size: 16px;
    margin-right: 16px;
  }
}
.tab-content__img{
  width: 100%;
  height: 1000px;
  overflow: hidden;
  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.product-one__aside{
  max-width: 360px;
  width: 100%;
}
.product-one__item-title{
  position: relative;
}
.jq-radio{
  position: relative;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #e6e9ed;
  overflow: unset;
  &.focused::after{
    display: block;
  }
  &::after{
    position: absolute;
    width: 20px;
    height: 20px;
    left: -4px;
    top: -4px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/check-icon.svg);
    display: none;
  }
}
.product-one__aside-item{
  padding: 0;

}
.product-one__item-top{
  background-color: $blue;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  font-size: 36px;
  @include f500;
}
.product-one__item-price{
  position: relative;
  padding-left: 11px;
  display: inline-block;
  span{
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 18px;
  }
}
.product-one__item-title,.product-one__item-bottom{
  font-size: 18px;
  color: #333333;
  padding-left: 40px;
  position: relative;
  margin-bottom: 30px;
  .jq-radio{
    position: absolute;
    left: 0;
  }
}
.product-one__item-bottom{
  margin-top: 30px;
}
.product-one__item-text{
  padding-left: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}
.product-one__item-btns{
  max-width: 300px;
  width: 100%;
  min-height: 55px;
  text-align: center;
  border-radius: 40px;
  & + .product-one__item-btns{
    margin-top: 30px;
  }
}
.product-one__item-btn{
  border: none;
  background-color: transparent;
  color: #fff;
  @include f500;
  margin-top: 16px;
}
.product-one__item-purchase{
  background-color: $blue;
}
.product-one__item-add{
  background-color: $purple;
  &cart{
    position: relative;
    padding-left: 30px;
    &::before{
      position: absolute;
      left: 0;
      font-size: 16px;
      content: "\e82e";
      font-family: 'Linearicons-Free';
    }
  }
}
.aside__item-num{
  top: 28px;
  font-size: 18px;
  @include f500;
  color: #333333;
}
.product-one__item-line{
  border-bottom: 1px solid #ececec;
  padding: 30px 0;
  .lnr-cart::before{
    color: $blue;
  }
  .lnr-heart::before{
    color: $purple;
  }
  .lnr-bubble::before{
    color: #58c9e9;
  }
}
.product-one__rate{
  margin-top: 30px;
  text-align: center;
  color: #7e7e7e;
  .rateYo{
    display: inline-block;
  }
}
.aside__item-name{
  padding-left: 25px;
  position: relative;
  &::before{
    position: absolute;
    left: 0;
    font-family: 'Linearicons-Free';
  }
}
.product-aside__item-title{
  text-align: center;
}
.product-aside__items{
  margin: 30px 0 10px;
}
.product-aside__item{
  display: flex;
  line-height: 35px;
}
.product-aside__item-name{
  max-width: 135px;
  width: 100%;
  color: #333;
}
.product-aside__item-value{
  max-width: 170px;
  width: 100%;
  color: #555;
}
.product-aside__item-tags{
  color: $blue;
}
.aside-author{
  text-align: center;
}
.aside-author__avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto 25px;
  img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.aside-author__theme{
  font-size: 18px;
  color: #000;
  @include f500;
  margin-bottom: 20px;
}
.aside-author__buttons{
  margin-top: 30px;
}
.aside-author__btn{
  max-width: 140px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 40px;  
  color: #fff;
  cursor: pointer;
}
.aside-author__btn-send{
  margin-left: 15px;
  background-color: $purple;
}
.aside-author__btn-view{
  background-color: $blue;
}
.favourite-search{
  padding: 55px 0;
  text-align: start;
  .breadcrumbs{
    margin-top: 0;
  }
  .favourite-search__title{
    color: #fff;
    font-size: 30px;
    margin-top: 25px;
    @include f500;
  }
}
.new-items__filter{
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  .jq-selectbox__select-text{
    margin-top: 10px;
  }
}
.favourite-top__items{
  padding: 40px 30px;
}
.favourite__top{
  padding: 0;
}
.favourite{
  background-color: $bg;
  padding: 80px 0;
}
.favourite__inner{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: -30px;
}
.favourite-pagination{
  display: inline-block;
  float: none;
  margin-top: 75px;
  margin-bottom: 40px;
  margin-left: 50%;
  transform: translate(-50%)
}
.blog{
  background-color: $bg;
  padding-top: 70px;
  padding-bottom: 220px;
  &__inner{
    display: flex;
  }
}
.blog__items{
  max-width: 750px;
  width: 100%;
}
.blog__item{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  & + .blog__item{
    margin-top: 40px;
  }
}
.blog__item-img{
  width: 100%;
  height: 430px;
  overflow: hidden;
}
.blog__item-content{
  padding: 40px 30px;
}
.blog__item-title{
  font-size: 30px;
  @include f500;
  color: #333333;
  margin-bottom: 25px;
}
.blog__item-actual{
  color: $blue;
}
.blog__item-details{
  display: flex;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}
.blog__item-detail{
  padding-left: 25px;
  margin-left: 30px;
  position: relative;
  color: #898f96;
  span{
    color: $blue;
  }
  &::before{
    position: absolute;
    left: 0;
    font-family: 'Linearicons-Free';
  }
}
.blog__item-description{
  padding: 30px 0;
  line-height: 30px;
}
.blog__item-btn{
  width: 140px;
  height: 45px;
  text-align: center;
  background-color: $blue;
  border: none;
  border-radius: 40px;
  color: #fff;
}
.pagination__blog{
  float: left;
}
.blog-aside{
  max-width: 360px;
  width: 100%;
  margin-left: 30px;
}
.blog-aside__item{
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  width: 100%;
  background-color: #fff;
  & + .blog-aside__item{
    margin-top: 30px;
  }
}
.blog-aside__title{
  padding: 20px 25px;
  border-bottom: 1px solid #ececec;
  font-size: 20px;
  color: #000;
}
.blog-aside__content{
  padding: 20px 25px;
}
.blog-aside__search{
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 40px;
  input{
    position: absolute;
    left: 20px;
    border: none;
  }
  button{
    position: absolute;
    right: 0;
    width: 70px;
    height: 100%;
    border-radius: 40px;
    border: none;
    background-color: $blue; 
  }
  &::before{
    position: absolute;
    content: "\e86f";
	  font-family: 'Linearicons-Free';
    right: 26px;
    color: #fff;
    z-index: 1;
  }
}
.blog-tabs{
  border-bottom: 1px solid #ececec;
}
.blog-tabs__button{
  border: none;
  & + .blog-tabs__button{
    border-left: none;
  }
}
.blog-tab__content{
  padding: 25px;
}
.blog-tab__item{
  padding-bottom: 20px;
  display: flex;
  & + .blog-tab__item{
    padding-top: 20px;
    border-top: 1px solid #ececec; 
  }
}
.blog-tab__item-img{
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 15px;
  img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.blog-tab__item-text{
  max-width: 220px;
  width: 100%;
}
.blog-tab__item-name{
  color: #333333;
  @include f500;
  margin-bottom: 15px;
}
.blog-tab__item-date{
  color: #898f96;
  font-size: 15px;
  padding-left: 25px;
  position: relative;
  &::before{
    font-family: 'Linearicons-Free';
    content: "\e864";
    position: absolute;
    left: 0;
  }
}
.blog-aside__content .aside__item-content{
  margin-top: 0;
}
.blog-aside__tags{
  margin-left: -10px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.blog-aside__tag{
  padding: 8px 10px;
  background-color: #edf5fe;
  color: $blue;
  border: none;
  border-radius: 24px;
  margin-left: 10px; 
  margin-bottom: 10px;
  &.active{
    background-color: $blue;
    color: #fff;
  }
}
.blog-aside__banner{
  max-width: 360px;
  width: 100%;
  height: 270px;
  margin-top: 30px;
  overflow: hidden;
  img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.login-page{
  background-color: $bg;
  padding: 70px 0;
  &__inner{
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }
  &__top{
    line-height: 30px;
    padding: 55px 50px 30px;
    border-bottom: 1px solid #ececec;
  }
  &__bottom{
    padding: 40px 50px 60px;
    label{
      display: block;
      margin-bottom: 15px;
      color: #000;
      @include f500;
    }
    input{
      display: block;
      width: 100%;
      border: none;
      background-color: $bg;
      padding: 20px;
      margin-bottom: 30px;
    }
  }
}
.works__line-button{
  max-width: 190px;
  width: 100%;
  border-radius: 40px;
  height: 50px;
  text-align: center;
  background-color: $blue;
  border: none;
  @include f500;
  color: #fff;
}
.login-page__title{
  text-align: center;
  font-size: 26px;
}
.accouts{
  display: flex;
  justify-content: space-between;
}
.accout{
  margin-top: 40px;
  color: #898f96;
  a{
    color: $blue;
  }
}
.login-page__text{
  text-align: center;
}
.remember{
  margin-top: 30px;
  position: relative;
  span{
    position: absolute;
    bottom: 4px;
    left: 25px;
  }
  .jq-radio{
    padding-top: 5px;
  }
}
.works-search{
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  @include f500;
  span{
    color: #f3f3f8;
    font-weight: 400;
  }
}
.works__line-upload{
  background-color: $bg;
}
.works__line-wrapper{
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
}
.works__line-img{
  max-width: 460px;
  width: 100%;
  img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.works__line-content{
  max-width: 460px;
  width: 100%;
}
.works__line-title{
  font-size: 30px;
  margin-bottom: 35px;
  color: #000;
}
.works__line-text{
  color: #555;
  margin-bottom: 30px;
  line-height: 30px;
}
.terms{
  padding: 60px 0;
  background-color: $bg;
}
.terms__inner{
  background-color: #fff;
  padding-bottom: 60px;
}
.terms__title{
  padding: 40px 30px 30px;
  border-bottom: 1px solid #ececec;
  font-size: 24px;
  color: #000000;
}
.terms__text{
  padding: 30px;
}








@import 'media';